.breadcrumbs {
  display: flex;
  gap: 9px;
  align-items: center;
  color: rgb(90, 8, 18);
  font-weight: 650;
  font-size: 17px;
  text-transform: capitalize;
  margin: 61px 171px;
}
@media screen and (min-width: 425px) and (max-width:1200px) {
  .root{
    width:97%;
    padding: 3%;
    flex-flow:column wrap;
    border: none;
    justify-content: center;
   }
}