.cartitems hr {
  border: 0;
  background: rgb(2, 29, 29);
  height: 4px;
}

.cartitems {
  margin: 100px 171px;
}

.cartitems-promobox {
  background: rgb(247, 246, 244);
  width: 505px;
  margin-top: 16px;
  padding-left: 21px;
  height: 60px;
}

.cartitems-promobox button {
  cursor: pointer;
  color: rgb(232, 226, 226);
  background: rgb(23, 4, 4);
  width: 171px;
  height: 60px;
  font-size: 17px;
}

.cartitems-promobox input {
  height: 51px;
  width: 332px;
  font-size: 17px;
  background: transparent;
  border: none;
  outline: none;
}

.cartitems-promocode {
  flex: 1;
  font-size: 17px;
  font-weight: 550;
}

.cartitems-promocode p {
  color: #891c1c;
}

.cartitems-format-main {
  font-weight: 650;
  font-size: 19px;
  color: rgb(128, 128, 128);
  padding: 21px 0px;
  gap: 76px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.cartitems-format {
  font-size: 18px;
  font-weight: 550;
}

.cartitems-total button {
  outline: none;
  border: none;
  width: 263px;
  height: 60px;
  font-size: 17px;
  color: lightgoldenrodyellow;
  background: orange;
  cursor: pointer;
  font-weight: 650;
}

.carticon-product-icon {
  height: 65px;
}

.cartitems-total-item {
  padding: 16px;
  justify-content: space-between;
  display: flex;
}

.cartitem-remove-icon {
  cursor: pointer;
  margin: 0px 42px;
  width: 17px;
}

.cartitems-total {
  gap: 40px;
  margin-right: 202px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cartitems-quantity {
  background: whitesmoke;
  border: 2px solid lightgrey;
  width: 65px;
  height: 64px;
}

.cartitems-down {
  margin: 100px 0px;
  display: flex;
}
