.item, .item img {
    max-width: 100%;
    height: auto;
    display:block;
    margin: 0 auto;
    gap:2vw;
  }

.p {
  margin: 6px 0px;
}

.item-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.item-price-new {
  color: lightslategray;
  font-size: 16px;
  font-weight: 850;
}

.item-price-old {
  font-size: 16px;
  color: gray;
  font-weight: 550px;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.07);
  transition: 0.8s;
}

.item p {
  font-weight: 300;
  font-size: 2vw;
}
@media screen and (max-width: 768px) {
  .item, .item img {
      max-width: 100%;
      height: auto;
      display:block;
      margin: 0 auto;
    }
  
  .p {
    margin: 6px 0px;
  }
  
  .item-prices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .item-price-new {
    color: lightslategray;
    font-size: 14px;
    font-weight: 700;
  }
  
  .item-price-old {
    font-size: 14px;
    color: gray;
    font-weight: 500px;
    text-decoration: line-through;
  }
  
  .item:hover {
    transform: scale(1.07);
    transition: 0.8s;
  }
}

