.offers {
  height: 61vh;
  width: 66%;
  margin: auto;
  padding: 0px 139px;
  display: flex;
  background: linear-gradient(
    180deg,
    rgb(175, 248, 197),
    rgb(244, 242, 243) 60%
  );
  margin-bottom: 155px;
}

.offers-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offers-left h1 {
  color: darkblue;
  font-size: 75px;
  font-weight: 600;
}

.offers-left p {
  color: darkblue;
  font-size: 24px;
  font-weight: 600;
}

.offers-left button {
  width: 285px;
  height: 71px;
  border-radius: 36px;
  background: rgb(237, 40, 40);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 23px;
  font-weight: 550;
  margin-top: 35px;
}

.offers-right {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 50px;
  justify-content: 50px;
}
