.hero {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, pink, rgb(234, 225, 225) 60%);
  display: flex;
  justify-content: space-between;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  padding-left: 2vw;
  line-height: 1.1;
  max-width: 40%;
}

.hero-left h2 {
  color: black;
  font-size: 4vw;
  font-weight: 650;
}

.hero-left p {
  color: rgb(24, 5, 5);
  font-size: 10vw;
  font-weight: 720;
}
.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  font-size: 4vw;
  font-weight: 550;
  margin-top: 30px;
  border-radius: 75px;
  background: rgb(217, 63, 63);
  color: lightblue;
}

.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mantra {
  text-align: left;
  padding: 2vw;
}
.mantra p {
  margin-bottom: 1vw;
  font-size: 4vw;
  color: rgb(211, 14, 14);
}

.hero-right img {
max-width: 100%;
height:auto;
border-radius: 5px;
}

.hand-hand-icon {
  display: flex;
  align-items: center;
  gap: 5vw;
}

.hand-hand-icon img {
  width: 60%;
}