.popular {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  height: auto;
  padding: 20px;
}

.popular h1 {
  color: rgb(141, 15, 15) 8, 130, 130;
  font-weight: 650;
  font-size: 4vw;
  text-align:center;
}

a:any-link {
  color: red;
}

.popular hr {
  width: 50%;
  height: 220px;
  height: 5px;
  border-radius: 12px;
  background: darkred;
}

.popular-item {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 15px;
}
